@model IEnumerable<ProjektZespolowy.Models.Costs>

@{
    ViewData["Title"] = "Finanse - Koszta";
}

<div class="container m-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-primary">Koszta Prowadzenia Działalności</h1>
        <a asp-action="Create" class="btn btn-success">Dodaj Nowy Koszt</a>
    </div>

    <table class="table table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    Kwota
                </th>
                <th>
                    Data Płatności
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost) PLN
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Period)
                    </td>
                    <td>
                        <div class ="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-around">
        <div class="col-2"></div>

        <div class="col-2">
            <label><b>Typ Wykresu</b></label>
        </div>

        <div class="col-2">
            <select id="ChartType" class="form-control">
                <option selected>-Wybierz Typ Wykresu-</option>
                <option>Wykres Kolumnowy</option>
                <option>Wykres Liniowy</option>
                <option>Wykres Kołowy</option>
                <option>Wykres Pierścieniowy</option>
            </select>
        </div>

        <div class="col-2"></div>

        <div class="col-2">
            <input id="showChartBtn" class="btn btn-success" value="Pokaż Wykres" type="button" />
        </div>

        <div class="col-3"></div>
    </div>
</div>

<script>
    $(function () {
        $('#showChartBtn').click(function () {
            var ChartTypeInput = $('#ChartType').val();
            switch (ChartTypeInput) {
                case 'Wykres Kolumnowy':
                    var ChartType = 'bar';
                    break;
                case 'Wykres Liniowy':
                    var ChartType = 'line';
                    break;
                case 'Wykres Kołowy':
                    var ChartType = 'pie';
                    break;
                case 'Wykres Pierścieniowy':
                    var ChartType = 'doughnut';
                    break;
                case '-Wybierz Typ Wykresu-':
                    alert('Należy wybrać typ wykresu');
                    return;
            }

            $.ajax({
                type: "POST",
                url: "Costs/GetCostsData",
                data: "",
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var _data = data;
                    var _chartLabels = _data[0];
                    var _chartData = _data[1];

                    const win = window.open('', 'Wykres', 'height=400,width=400');
                    const canvas = win.document.createElement('canvas');
                    canvas.id = 'myChart';
                    canvas.width = 400;
                    canvas.height = 400;
                    win.document.body.appendChild(canvas);

                    new Chart(win.document.getElementById('myChart'), {
                        type: ChartType,
                        data: {
                            labels: _chartLabels,
                            datasets: [{
                                label: 'PLN',
                                data: _chartData,
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: OnError
            });

            function OnError(err) {

            }
        })
    })
</script>
