@model IEnumerable<ProjektZespolowy.Models.Costs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row">
    <div class="col-1">
        <label><b>Chart Type</b></label>
    </div>

    <div class="col-2">
        <select id="ChartType" class="form-control">
            <option selected>-Select Chart Type-</option>
            <option>bar</option>
            <option>line</option>
            <option>pie</option>
            <option>doughnut</option>
        </select>
    </div>

    <div class="col-4">
        <input id="showChartBtn" value="Show Graph" type="button" />
    </div>
</div>

<div id="ChartView">
    <canvas id="myChart"></canvas>
</div>

<script>
    $(function () {
        $('#showChartBtn').click(function () {
            var ChartType = $('#ChartType').val();
            var ChartView = document.getElementById('ChartView');

            ChartView.innerHTML = '';
            $('#ChartView').append('<canvas id="myChart" style="max-width:400px; max-height:400px"></canvas>');

            $.ajax({
                type: "POST",
                url: "Costs/GetCostsData",
                data: "",
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _data = data;
                var _chartLabels = _data[0];
                var _chartData = _data[1];

                new Chart('myChart', {
                    type: ChartType,
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            label: 'PLN',
                            data: _chartData,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }

            function OnError(err) {

            }
        })
    })
</script>
