@model ProjektZespolowy.Models.Warehouse

@{
    ViewData["Title"] = "Szczegóły";
}

<div class="container mt-4">
    <h1 class="text-center text-warning mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-sm border-warning">
        <div class="card-header bg-warning text-white">
            <h4 class="mb-0">Informacje</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4 fw-bold">Dostępna Ilość</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DostepnaIlosc)</dd>

                <dt class="col-sm-4 fw-bold">Pojemność</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Pojemnosc)</dd>

                <dt class="col-sm-4 fw-bold">Produkt</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Product.NazwaProduktu)</dd>

                <dt class="col-sm-4 fw-bold">Cena</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Product.Cena)</dd>
            </dl>
        </div>
    </div>
    <div class="mt-4 text-center">
        <a asp-action="Edit" asp-route-id="@Model?.ProduktId" class="btn btn-warning">Edytuj</a>
        <a asp-action="Stan" class="btn btn-secondary">Powrót do listy</a>
    </div>
</div>
