@model ProjektZespolowy.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1 class="text-info">Szczegóły Pracownika</h1>
    <hr />

    <div class="p-4" style="border: 2px solid #2196F3; border-radius: 8px;">
        <dl class="row">
            <dt class="col-sm-3">Imię</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Imie)</dd>

            <dt class="col-sm-3">Nazwisko</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nazwisko)</dd>

            <dt class="col-sm-3">Stanowisko</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Stanowisko)</dd>

            <dt class="col-sm-3">Adres Zamieszkania</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.AdresZamieszkania)</dd>
            <dt class="col-sm-3">Adres Email</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.AdresEmail)</dd>

        </dl>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.PracownikID" class="btn btn-warning">Edytuj</a>
        <a asp-action="Index" class="btn btn-secondary">Powrót do Listy</a>
    </div>
</div>
