@model ProjektZespolowy.Models.FinancialReport

@{
    ViewData["Title"] = "Szczegóły Raportu Finansowego";
}

<div class="container mt-4">
    <h1 class="text-center text-success mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-sm border-success">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Informacje o raporcie</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4 fw-bold">Nazwa</dt>
                <dd class="col-sm-8">@Model.Name</dd>

                <dt class="col-sm-4 fw-bold">Data Wygenerowania</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CreationDate)</dd>
            </dl>
        </div>
    </div>

    <h4 class="text-success mt-4">Pozycje w Raporcie</h4>
    <table class="table table-bordered table-striped">
        <thead class="table-success">
            <tr>
                <th>Nazwa</th>
                <th>Typ</th>
                <th>Kwota</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FinancialReportItems != null && Model.FinancialReportItems.Any())
            {
                decimal totalValue = 0;

                foreach (var item in Model.FinancialReportItems)
                {
                    totalValue += item.Value * (item.Flow == "Dochód" ? 1 : -1);

                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Flow</td>
                        <td>@item.Value.ToString("C")</td>
                    </tr>
                }
                <tr class="table-success">
                    <td colspan="2" class="text-end fw-bold">Podsumowanie:</td>
                    <td class="fw-bold">@totalValue.ToString("C")</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">Brak szczegółów raportu.</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edytuj</a>
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    </div>
</div>
